# Auto detect text files and perform LF normalization
* text=auto
*.fsh       text
*.vsh       text
*.yyp        text
*.yy linguist-language=Game Maker Language
*.gml        text
*.png        -text
*            -text
*.yyp     diff
